---
import Section from "../Section.astro";

import { education } from "../../../cv.json";
---

<Section title="Educación">
  <ul class="flex flex-col gap-8">
    {
      education.map(({ institution, startDate, endDate, area }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual";
        const years = `${startYear} - ${endYear}`;

        return (
          <li>
            <article>
              <header class="flex gap-4 justify-between">
                <div>
                  <h3 class="text-lg hover:underline">{institution}</h3>
                </div>

                <time class="text-gray-600 text-xs md:text-sm text-nowrap">{years}</time>
              </header>

              <footer>
                <p class="mt-1">{area}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
